<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/service_friend.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <span class="glyphicon glyphicon-user" style="font-size: 100px"></span>
                <p><a href="#" class="a">Avatar</a></p><br>
                <p class="border" style="box-shadow:10px 5px 2px #888888 ">Rating
                    <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                    <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                    <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                    <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                    <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                </p>
                <p><a href="#" class="a">Wall</a></p>
                <p><a href="#" class="a">Information</a></p>
                <p><a href="#" class="a">Friends</a></p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Search by
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Name</a></li>
                                <li><a href="#">City</a></li>
                                <li><a href="#">Favorites</a></li>
                                <li><a href="#">Phone</a></li>
                            </ul>
                        </span>


                    </div>
                    <div class="col-md-5">
                        <div class="form">
                            <form action="demo_form.asp">
                                <input type="text" name="fname" placeholder="Input here">
                            </form>
                         </div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success btn-responsive" href="#" style="box-shadow:10px 5px 2px #008B00 ">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </div>
                </div>
                <hr class="distance">
                <div class="row">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-user" style="font-size: 100px"></span>
                        <p>Rating
                            <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                            <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                            <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                            <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                            <span class="glyphicon glyphicon-star" style="font-size: 10px"></span>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Favorites
                                </th>
                                <th>
                                    Phone
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Lorem ipsum dolor sit amet.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success btn-responsive" href="#" style="box-shadow:10px 5px 2px #008B00 ">Follow</a><br><br>
                        <a class="btn btn-danger btn-responsive" href="#" style="box-shadow:10px 5px 2px #FF6347 ">Report</a>
                    </div>
                </div>
                <img src="images/map.png">

            </div>
        </div>

    </div>

</body>
</html>