body{
    padding: 0px;
}
.col-md-3{
    text-align: center;
}
.row .col-md-3 .a{
    text-decoration: none;
}
.row .col-md-3 .border{
    border-style: solid;
    border-width: 1px;
    width: 90%;
}
.container-fluid>.row >.col-md-9{
    border-style: solid;
    border-width: 3px;
    padding: 20px;
}
.row .col-md-5 .form{
    position: relative;
}
.row .col-md-9 .distance{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}
